@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/*Fonte*/

/*fundo e seleção da fonte*/
body {
    margin: 0;
    background-color: #350000;
    color: #FFD700;
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../Imagens/Fundos/Fundo_Form.jpg');
    background-size:cover;
    background-position:top;
    background-attachment:fixed;
}
/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a0000;
    opacity: 70%;
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
}

#Logotipo{
width: 300px;
height: 100px;
}
#Logotipo:hover{
   transform: scale(1.05); 
}
#links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#links li {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: transparent;
}

#links a {
    color: #ffcc00;
}

#links li:hover {
    border-color: #ffcc00;
    background: rgba(255, 204, 0, 0.1);
    transform: scale(1.05);
}
#Hamburguer,h1 {
    display:none;
    height: 50px;
    width: 50px;
    align-self:flex-end;
}

@media (max-width: 768px) {
    /* Menu */
    #titulo, #links {
        display: none;
    }
    #Hamburguer {
        display: flex;
    }
}

/* FORMULÁRIO*/

.form-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

form {
    width: 700px;
    background: rgba(255, 255, 255, 0.10);
    padding: 25px;
    border-radius: 15px;
    text-align: left;
}

/* Grupo de cada campo */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
    
}

/* Inputs e selects */
form input,
form textarea {
    border-radius: 5px;
    background: rgba(255, 204, 0, 0.1);
    border: 1px solid #ffcc00;
    padding: 10px;
    color: #FFD700;
}
.opcoes{
    background-color: rgba(255, 204, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #ffcc00;
    background: rgba(255, 204, 0, 0.1);
}

/* Tamanho dos inputs */
form input,
form select {
    height: 40px;
}
/* Checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.checkbox-group input {
    width: 18px;
    height: 18px;
}

/* Botão */
button {
    background-color: #ffcc00;
    color: #350000;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #ffd633;
}
a{
    color:#350000;
}